export(dchisqstretch_pow)
export(dMuTOST_pow)
export(nabc.acf.equivalence.abctol)
export(nabc.acf.equivalence.cor)
export(nabc.acf.equivalence.pow)
export(nabc.acf.equivalence.tau.lowup)
export(nabc.acf.equivalence)
export(nabc.calibrate.m.and.tau.yesmxpw.yesKL)
export(nabc.calibrate.tau.nomxpw.yesKL)
export(nabc.chisqstretch.kl)
export(nabc.chisqstretch.n.of.y)
export(nabc.chisqstretch.pow)
export(nabc.chisqstretch.sulkl)
export(nabc.chisqstretch.tau.low)
export(nabc.chisqstretch.tau.lowup)
export(nabc.chisqstretch)
export(NABC.DEFAULT.ANS)
export(nabc.exprho.at.theta)
export(nabc.generic.tost)
export(nabc.get.pfam.pval)
export(nabc.kl.integrand)
export(nabc.kl.optimize)
export(nabc.mutost.kl)
export(nabc.mutost.onesample.n.of.y)
export(nabc.mutost.onesample.tau.lowup.pw)
export(nabc.mutost.onesample.tau.lowup.var)
export(nabc.mutost.onesample)
export(nabc.mutost.pow)
export(nabc.mutost.sulkl)
import(ggplot2)
import(nortest)
import(pscl)
import(reshape2)
import(stats)
useDynLib(nabc)
