export(KL_divergence_1D)
export(KL_divergence_1D_mutost)
export(KL_divergence_mutost_n)
export(NABC.DEFAULT.ANS)
export(nabc.acf.equivalence)
export(nabc.acf.equivalence.abctol)
export(nabc.acf.equivalence.cor)
export(nabc.acf.equivalence.pow)
export(nabc.acf.equivalence.tau.lowup)
export(nabc.chisqstretch)
export(nabc.chisqstretch.n.of.y)
export(nabc.chisqstretch.pow)
export(nabc.chisqstretch.tau.low)
export(nabc.chisqstretch.tau.lowup)
export(nabc.exprho.at.theta)
export(nabc.generic.tost)
export(nabc.get.pfam.pval)
export(nabc.mutost.onesample)
export(nabc.mutost.onesample.n.of.y)
export(nabc.mutost.onesample.n.of.y.KL)
export(nabc.mutost.onesample.tau.lowup.pw)
export(nabc.mutost.onesample.tau.lowup.var)
export(nabc.mutost.pow)
import(nortest)
import(stats)
useDynLib(nabc)
