export(nabc.acf.equivalence.abctol)
export(nabc.acf.equivalence.cor)
export(nabc.acf.equivalence.pow)
export(nabc.acf.equivalence.tau.lowup)
export(nabc.acf.equivalence)
export(nabc.calibrate.m.and.tau.yesmxpw.yesKL)
export(nabc.calibrate.tau.nomxpw.yesKL)
export(nabc.chisqstretch.calibrate.taulow)
export(nabc.chisqstretch.calibrate.tauup)
export(nabc.chisqstretch.calibrate.tolerances.getkl)
export(nabc.chisqstretch.calibrate)
export(nabc.chisqstretch.pow)
export(nabc.chisqstretch.sulkl)
export(nabc.chisqstretch)
export(NABC.DEFAULT.ANS)
export(nabc.exprho.at.theta)
export(nabc.generic.tost)
export(nabc.get.pfam.pval)
export(nabc.kl.integrand)
export(nabc.kl.optimize)
export(nabc.mutost.calibrate.tolerances.getkl)
export(nabc.mutost.calibrate.tolerances)
export(nabc.mutost.onesample)
export(nabc.mutost.pow)
export(nabc.mutost.sulkl)
export(old.nabc.mutost.onesample.n.of.y)
export(old.nabc.mutost.onesample.tau.lowup.var)
export(old.nabc.mutost.pow)
import(ggplot2)
import(nortest)
import(pscl)
import(reshape2)
import(stats)
useDynLib(nabc)
